body {
  text-align: center;
  background-color: grey;
}

h1 {
  background-color: yellow;
}

@media screen and (min-width: 760px) {
  h1 {
    background-color: blue;
  }
}

@media screen and (min-width: 1000px) {
  body {
    background-color: maroon;
  }

  h1 {
    visibility: hidden;
  }
}
